<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.m.deposit.mapper.BankInfoMapper" >
	<resultMap id="BaseResultMap" type="com.ningpai.m.deposit.bean.BankInfo" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="bank_name" property="bankName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List" >
		id,bank_name
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select
		<include refid="Base_Column_List" />
		from np_bank_info
		where id = #{id,jdbcType=BIGINT}
	</select>

	<insert id="insertSelective" parameterType="com.ningpai.m.deposit.bean.BankInfo" useGeneratedKeys="true" keyProperty="id" >
		insert into np_bank_info
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				id,
			</if>
			<if test="bankName != null" >
				bank_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=BIGINT},
			</if>
			<if test="bankName != null" >
				#{bankName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.ningpai.m.deposit.bean.BankInfo" >
		update np_bank_info
		<set >
			<if test="bankName != null" >
				bank_name = #{bankName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from np_bank_info
	</select>
</mapper>