<input type="hidden" id="isIndex" value="1"/>
    <div class="show-box">
        <div id="slides">
        </div>
    </div><!--show-box-->

    <div id="content">
        <div class="section-01">
            <div class="f-brand">
                <div class="famous_brand left">
                    <div class="title">知名品牌 放心选购</div>
                </div><!--famous_brand-->
                <div class="news-center right">
                    <div class="title"><a href="information/list/" class="right">更多<i></i></a>新闻中心</div>
                    <div class="pet-news">
                        <ul>
                        </ul>
                    </div>
                </div><!--news-center-->
            </div><!--f-brand-->
        </div><!--section-01-->
    </div><!--content-->
